.modalBackground { background-color: Gray; filter: alpha(opacity=70); opacity: 0.7; }

.modalPopup { background-color: #ffffdd; border-width: 3px; border-style: solid; border-color: Gray; padding: 3px; z-index: 100; }

.divlink a { display: block; height: 22px; margin-right: 1px; margin-bottom: 1px; overflow: visible; text-indent: 14px; vertical-align: middle; marker-offset: auto; background: url(images/navbg.jpg) repeat; padding-right: 10px; padding: 4px 10px 4px 0px; }

    .divlink a:hover { display: block; height: 22px; margin-right: 1px; margin-bottom: 1px; marker-offset: auto; overflow: visible; text-indent: 14px; vertical-align: middle; background: url(images/nav-bg.jpg) repeat; padding-right: 10px; padding: 4px 10px 4px 0px; }

a { font-size: 11px; font-family: verdana, arial, helvetica, sans-serif; font-weight: 600; text-decoration: none; }

body { background-color: #fff; margin-top: 0; margin-right: 12px; margin-left: 12px; margin-bottom: 0; padding: 0; font: 11px verdana, arial, helvetica, sans-serif; }

table { margin-bottom: 0; padding: 0; font-style: normal; font-variant: normal; font-size: 11px; line-height: normal; font-family: verdana, arial, helvetica, sans-serif; }

a:hover { text-decoration: underline; }

ul { list-style: none; padding: 0; margin: 0; }

#nav a { font-weight: bold; text-decoration: none; }

li#first { border-left-width: 1em; }

li#last { border-right-width: 1em; }

li ul { display: none; position: absolute; top: 100%; left: 0; font-weight: normal; background-color: #fff; border-right: solid 1px #666666; border-left: solid 1px #666666; border-bottom: solid 1px #666666; }

li > ul { top: auto; left: auto; }

li li { display: block; float: none; background-color: transparent; border: 0; }

li:hover ul, li.over ul { display: block; }

.forButton { font: 11px verdana, arial, helvetica, sans-serif; height: 21px; }

.forTextBox { font: 11px verdana, arial, helvetica, sans-serif; }

.divmiddle { background-color: #fff; padding: 10px; display: block; }

.divmiddle1 { background-color: #fff; padding: 10px; display: block; }

.divmiddle2 { background-color: #fff; border: 1px solid #c2ceda; margin-bottom: 30px; padding: 0; display: block; }

.headerwhite { font-size: 11px; font-weight: bold; color: #ffffff; font-family: verdana, arial, helvetica, sans-serif; text-decoration: none; }

.headmemspot { font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-align: left; font-weight: bold; color: #ffffff; background-color: #507CD1; padding-top: 3px; padding-bottom: 3px; padding-left: 4px; display: block; height: 15px; }

.headmemspot2 { font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; text-align: left; font-weight: bold; color: #ffffff; background-color: #507CD1; margin-top: 3px; padding-top: 3px; padding-bottom: 3px; padding-left: 4px; display: block; }

th { font: 12px verdana, arial, helvetica, sans-serif; }

t td { font: 11px verdana, arial, helvetica, sans-serif; margin-left: 40px; }
